/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/test-output/
/.settings/
.classpath
.project
*.pyc
/UshahidiTests/target/
PCSAWebTests/PCSAWebFramework/.idea/
PCSAWebTests/PCSAWebFramework/target/
PCSAWebTests/PCSAWebTests/target/
PCSAWebTests/PCSAWebTests/PCSAWebTests.iml
PCSAWebTests/PCSAWebTests/logfile.log
PCSAWebTests/PCSAWebFramework/PCSAWebFramework.iml
PCSAWebTests/PCSAWebTests/chromedriver
