<!-- Specifying Test Directories -->
<suite name="PCSA Web Tests" verbose="1" >
  <!-- Login Test -->
  <test name="Login Test" >
    <classes>
       <class name="LoginAndRegistrationTests.loginTest" />
    </classes>
  </test>
  
  <!-- Logout Test -->
  <test name="Logout Test" >
    <classes>
       <class name="LoginAndRegistrationTests.logoutTest" />
    </classes>
  </test>
  
  <!--Registration Test-->
  <test name="Registration Test" >
    <classes>
       <class name="LoginAndRegistrationTests.registrationTest" />
    </classes>
  </test> 
  
  <!-- Recommended Pages Tests -->
  <test name="Recommended Pages Tests" >
    <classes>
       <class name="RecommendedPagesTests.helpingFriendCommunityTest" />
       <class name="RecommendedPagesTests.safetyStrategiesHelplineTest" />
       <class name="RecommendedPagesTests.setPreferencesTest" />
       <class name="RecommendedPagesTests.thingsToKnowTest" />
    </classes>
  </test>
  
  <!-- Side in Menu Bar Tests -->
  <test name="Side in Menu Bar Tests" >
    <classes>
       <class name="SideInMenuBarTests.circleOfTrustNavigationTest" />
       <class name="SideInMenuBarTests.firstAideNavigationTest" />
       <class name="SideInMenuBarTests.policiesAndGlossaryTest" />
       <class name="SideInMenuBarTests.safetyToolsNavigationTest" />
       <class name="SideInMenuBarTests.sexualAssaultAwarenessTest" />
       <class name="SideInMenuBarTests.supportServicesNavigationTest" />
    </classes>
  </test>
  
  <!-- Side in Menu Bar Tests -->
  <test name="Get Help Now Tests" >
    <classes>
       <class name="GetHelpNowTests.getHelpNavigationTest" />
       <class name="GetHelpNowTests.selectCountryTest" />
       <class name="GetHelpNowTests.pcmoCallTest" />
       <class name="GetHelpNowTests.pcmoSMSTest" />
       <class name="GetHelpNowTests.sarlCallTest" />
       <class name="GetHelpNowTests.sarlSMSTest" />
       <class name="GetHelpNowTests.ssmCallTest" />
       <class name="GetHelpNowTests.ssmSMSTest" />
    </classes>
  </test>

</suite>
